<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" crossorigin="anonymous" href="../../css/image_view.css"/>
    <script src="../../js/jquery/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="../../js/image_view.js"></script>
</head>
<body>

    <div id="image_info">
        <p id="image_url" hidden></p>
        <img id="image_show"/>
    </div>
    <div style="height: 300px;"></div>
    <div id="menu_bar">
        <ul>
            <li onclick="save()"><a > 保存</a></li>
            <li onclick="download()"><a >下载</a></li>
        </ul>
    </div>
</body>
</html>