#image_table{
    width: 1280px;
    height: 900px;
    margin: 70px auto;

}

#image_preview{
    width: 1280px;
    height: 800px;
    margin: 30px auto;

}

#img_pre{
    width: 1280px;
    height: 720px;
    margin: 30px auto;
    background-size: 100%;
}
