html,body{overflow:hidden;overflow-y:auto;
    margin: 0 -10px;}

#top_nav{
    width: 100%;
}
#top_nav>ul{
    height: 50px;
    width: 97%;
    color: #ffffff;
    border-radius: 5px;
}
#top_nav>ul{
   list-style: none;
    background: #cccccc;

}

#top_nav>ul li{
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 200%;
    text-align: center;
    font-family: "Microsoft JhengHei";
}


#top_nav>ul li:hover{
    font-weight: bolder;
    background: #ffffff;
}
#top_title{
    width: 1366px;
    margin: 10px auto;
}




a:hover{
    color: #888888;
}

a:active{
    color: #000;
}

a:link{
    color:#000000
}
a:visited{
    color: #000000;
}

a{
    color: #000;
    display: block;
    text-decoration: none;
}

#msg{
    font-family: "Microsoft JhengHei";
    font-size: 50px;
    margin-left: 10%;
}
