#top_nav{
    height: 30px;
    width: 99% ;
    margin: 0 auto;
    background: #3e3e3e;
    color: #ffffff;
    border-radius: 5px;
}
#top_nav>ul{
   list-style: none;

}

#top_nav>ul li{
    float: left;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 80%;
    text-align: center;
    font-family: "Microsoft JhengHei";
}


#top_nav>ul li:hover{
    color: #f5f5f5;
    line-height: 30px;
    background: #767676;
    border-radius: 5px;
}

#image_info{
    width: 100%;
    height: auto;
    margin: 30px auto;
}

#img{
    width: 100%;
    height: auto;
}
#title_bar >h1{
    margin: 10px auto;
    width: 1366px;
}
#image_show{
    margin: 100px auto;
    width: 1366px;
    height: 768px;
}
#image_panel{
    width: 1366px;
    height: 768px;
    background-size: 99%;
}
#all{
    width:1366px;
    margin: 10px auto;
}
#images{
    width: 1366px;
    margin: 0 auto;
}
.img_td{
    font-size: 50%;
}



