#top_nav{
    height: 30px;
    width: 99% ;
    margin: 0 auto;
    background: #3e3e3e;
    color: #ffffff;
    border-radius: 5px;
}
#top_nav>ul{
   list-style: none;

}

#top_nav>ul li{
    float: left;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 80%;
    font-family: "Microsoft JhengHei";
}
#top_nav>ul li a {
    text-decoration: none;
}

#top_nav>ul li a:hover{
    color: #aaaaaa;
}
#top_nav>ul li a:active{
    color: #fff;
}
#top_nav>ul li a:visited{
    color: #fff;
}
#top_nav>ul li a:link{
    color: #fff;
}

#image_panel{
    margin: 30px auto;
    padding: 10px;

}

#img_show{
    width: 800px;
    height: 450px;
    background-color: #636363;
    background-image: url(https://source.unsplash.com/random/1920x1080);:;
    background-size: 800px 450px;
}