<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>
    <script src="../js/jquery/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="../js/index.js" type="text/javascript"></script>
    <script src="../js/image_view.js"></script>
</head>
<body>
<div id="top_nav">
    <ul>
        <li ><a href="/home">主页</a></li>
        <li ><a href="/home">换图</a></li>
        <li ><a href="/image_table" target="frame">已保存</a></li>
    </ul>
</div>
<div id="content">
    <iframe name="frame"   height="100%" src="/image_view"></iframe>
</div>

</body>
</html>