<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="top_nav">
    <ul>
        <li>看图</li>
        <li>换图</li>
    </ul>
</div>
<div id="img">
    <div id="title_bar">
        <h1>图片名称</h1>
    </div>
    <div id="image_panel">
        <img id="img_show" src="../images/connor-limbocker-575709-unsplash.jpg" width="800" height="450" >
    </div>
</div>

</body>
</html>